/*for all pages*/
*{
     margin: 0;
     padding: 0;
}
.container{
    min-width: 1280px;
}
.title{
     border-top: 3px solid rgb(60,60,60);
     border-bottom: 3px solid rgb(60,60,60);
     float: left;
     width: 100%;
     padding: 10px 0;
     font-size: 18px;
     color: rgb(46,64,81);
     font-weight: 100;
     text-align: center;
     background-color: rgb(237,237,236);
}       
.header{
    height: 55px;
    background-color: rgb(255,255,255);
}  
.logo{
    float: left;
    margin-left: 64px;
    font-size: 21px;
    color: #eda809;
    font-family: "cooper", sans-serif;
}
.logo img{
     height: 55px;
     vertical-align: middle;
     margin-right: 13px;
}

.nav{
    float: right;
    margin-right: 20px;
}
.nav li{
     float: left;
     list-style: none;
     text-align: center;
     height: 52px;
     width: 140px;
     line-height: 52px;
     border-bottom: 3px solid #fff;
     
}
.nav a{
     text-decoration: none;
     display: block;
     font-family: "Microsoft YaHei";
     font-size: 20px;
}
.nav a:link,.nav a:visited{
    color: rgb(72, 201, 176);
}
.nav a:hover,.nav a:active{
     color: rgb(227,231,234);
     border-bottom: 3px solid rgb(202,207,210);
}

/*for home page*/
.feature-wrap{
    height: 690px;
    background-image: url("project background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.feature-wrap-in{
    background-color: rgba(0,0,0,0.2);
    height: 457px;
    padding-top: 233px;
    
}
.feature-wrap-in h1{
    font-size: 60px;
    font-family: "Comic Sans MS";
    color: rgb(255,255,255);
    margin-left: 100px;

    
}
.feature-wrap-in p{
    font-size: 30px;
    font-family: "Comic Sans MS";
    color: rgb(255,255,255);
    margin-left: 115px;
    margin-top: 30px;
}


.left-block{
    width: 48%;
    float: left;
}
.left-block .history h3{
    font-size: 30px;
    border: 2px;solid: #88e8e3;
    
}
.left-block .history hr{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 2px;solid: #88e8e3;
}
.left-block .history p{
      font-size: 20px;
      color: #4c4b4b;
      margin-bottom: 102px;
      margin-top: 40px;
      font-family: "Comic Sans MS";
      text-align: left;
      margin-left: 100px;
      margin-right: 100px;
}
.right-block{
      width: 48%;
      float: right;
}
.right-block .whytrustus h3{
      font-size: 30px;
}
.right-block .whytrustus hr{
       width: 100px;
       margin: 0 auto;
       margin-bottom: 15px;
       margin-top: 10px;
       border: 2px;solid: #88e8e3;
}
.right-block .whytrustus p{
    font-size: 20px;
    color: #4c4b4b;
    margin-bottom: 102px;
    text-align: left;
    margin-left: 150px;
}
.about-two-block{
     width: 100%;
     float: left;
     padding: 50px 0 0;
     text-align: center;
}

/*for employees page*/
.title h1{
   font-size: 55px;
   color: #d67208;
   font-family: bradley hand;
}
.employees_galary_section{
     width: 100%;
     float: left;
     text-align: center;
}
.left_galary{
    width: 45%;
    float: left;
}
.right_galary{
    width: 45%;
    float: left;   
    margin-top: 50px;
}
.right_galary h2{
    font-size: 30px;
    color: #070600;
    margin-top: 50px;
    text-align: left;
    margin-left: 250px;
    font-family: "cooper";
    border：2px:solid #d4d6d8;
}
.right_galary p{
     font-size: 15px;
     color: #2d2d2c;
     margin-top: 30px;
     text-align: left;
     margin-left: 255px;
     font-family: "Microsoft YaHei";
}

.photo{
    float: left;
    width: 360px;
    height: 460px;
    margin-left: 150px;
    padding: 15px;
}

/*for Products Galary page*/
.supplies_block{
     width: 80%;
     margin: 0 auto;
     height: 90%;
}
.dog_supplies{
    width: 30%;
    float: left;
    border: 1px solid #f7f9f9;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 19px;
    font-family: "Comimc Sans MS";
    font-style: italic;
}
.cat_supplies{
    width: 30%;
    float: left;
    border: 1px solid #f7f9f9;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 20px;
    font-family: "Comimc Sans MS";
    font-style: italic;
}
.fish_supplies{
    width: 30%;
    float: left;
    border: 1px solid #f7f9f9;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 20px;
    font-family: "Comimc Sans MS";
    font-style: italic;
}
.dogpage_photo{
    float: center;
    width: 120px;
    height: 260px;
    margin-left: 10px;
    padding: 15px;
}
.page_photo{
    width: 300px;
    height: 300px;
    margin: 10px;
}

/*for dogsupplies page*/
.dog_apparel h2{
    font-size: 42px;
    font-family: "Coupier";
    border: 2px solid #faf9fc;
    text-align: left;  
    color: #4884c9; 
}
/*for catsupplies page*/
.cat_apparel h2{
    font-size: 42px;
    font-family: "Coupier";
    border: 2px solid #faf9fc;
    text-align: left;  
    color: #4884c9; 
}
/*for fishsupplies page*/
.fish_apparel h2{
    font-size: 42px;
    font-family: "Coupier";
    border: 2px solid #faf9fc;
    text-align: left;   
    color: #4884c9; 
}

/*for policy page*/
.policy_block{
     width: 100%;
     margin: 0 auto;
     background-color: #fdf2e9;
     height: auto;
}
.financing_part{
    padding: 40px;
    text-indent: 20px;
}
.financing_part hr{
   width: 100%;
   margin: 0 auto;
   margin-bottom: 15px;
   margin-top: 10px;
   border: 2px solid #e0d17b;
}
.financing_part li{
    list-style-type: none;
    margin-left: auto;
    text-indent: 20px;
}
.shipping_part{
    padding: 40px;
    text-indent: 20px;
}
.shipping_part hr{
   width: 100%;
   margin: 0 auto;
   margin-bottom: 15px;
   margin-top: 10px;
   border: 2px solid #e0d17b;
}
.return policy_part{
    padding: 40px;
    text-indent: 20px;
}
.return policy_part hr{
   width: 100%;
   margin: 0 auto;
   margin-bottom: 15px;
   margin-top: 10px;
   border: 2px solid #e0d17b;
}
/*for contact_us page*/
.contact_us_block{
     width: 100%;
     margin: 50px auto;
     margin-bottom: 30px;
     margin-top: 20px;
     text-align: center;
}



